[submodule "tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:floatingman/nvim.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:floatingman/.tmux.git
